@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    font-family: Roboto, sans-serif;
}