#create-section form {
    margin: auto;
    width: 20%;
    height: 350px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 7px 0px 20px 7px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
}

#create-section form h1,
#create-section form input[type="text"],
#create-section form textarea,
#create-section form input[type="submit"] {
    color: white;
}

#create-section form h1 {
    display: inline-block;
    margin: 30px 0px;
    text-transform: uppercase;
}

#create-section form input[type="text"],
#create-section form textarea,
#create-section form input[type="submit"] {
    display: block;
    margin: auto;
    background: none;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
    letter-spacing: 1.5px;
}

#create-section form input[type="text"],
#create-section form input[type="submit"] {
    font-size: 14px;
}


#create-section form input[type="text"],
#create-section form textarea {
    text-align: center;
    width: 75%;
    padding: 10px;
}

#create-section form input[type="text"]:hover,
#create-section form textarea:hover {
    font-weight: bold;
    width: 78%;
    transition: 0.25s;
}

#create-section form input[name="title"] {
    margin-bottom: 15px;
}

#create-section form textarea {
    margin-bottom: 15px;
    font-size: 15px;
    resize: none;
}

#create-section form input[name="image-url"] {
    margin-bottom: 30px;
}

#create-section form input[type="submit"] {
    width: 37%;
    padding: 7px;
    margin-bottom: 25px;
}

#create-section form input[type="submit"]:hover {
    font-weight: bold;
    cursor: pointer;
    width: 40%;
    transition: 0.25s;
}