#catalog {
    text-align: center;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
    max-height: 675px;
    border-radius: 10px;
    /* border: 1px solid white; */
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
}

#catalog>p,
#catalog>p>a {
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
}

#catalog>p>a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 10px;
}