#catalog {
    margin: 70px auto;
    padding: 30px 0px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    text-align: center;
    /* border: 1px solid white; */
}

#catalog>p,
#catalog>p>a {
    color: white;
    font-size: 20px;
}

#catalog>p>a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 3px 5px;
    border-radius: 15px;
}