#my-games {
    margin: 80px auto;
    width: 90%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 25px 0px;
    box-shadow: 7px 0px 20px 7px rgba(0, 0, 0, 0.7);
}

#my-games>p,
#my-games>p>a {
    color: white;
    font-size: 20px;
}

#my-games>p>a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px 7px;
}