#edit form {
    margin: 80px auto;
    width: 25%;
    height: 400px;
    text-align: center;
    box-shadow: 7px 0px 20px 7px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
}

#edit form h1,
#edit form input[type="text"],
#edit form textarea,
#edit form input[type="submit"] {
    color: white;
}

#edit form h1 {
    display: inline-block;
    margin: 30px 0px;
    text-transform: uppercase;
}

#edit form input[type="text"],
#edit form textarea,
#edit form input[type="submit"] {
    display: block;
    margin: auto;
    text-align: center;
    background: none;
    outline: none;
    border: 2px solid white;
}

#edit form input[type="text"],
#edit form input[type="submit"] {
    font-size: 14px;
}

#edit form input[type="text"],
#edit form textarea {
    width: 75%;
    padding: 10px;
    transition-duration: 0.25s;
}

#edit form input[type="text"]:hover,
#edit form textarea:hover {
    width: 78%;
}

#edit form input[name="title"] {
    margin-bottom: 15px;
}

#edit form textarea {
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: 0.5px;
    height: 110px;
    resize: none;
}

#edit form input[name="image-url"] {
    margin-bottom: 30px;
}

#edit form input[type="submit"] {
    width: 37%;
    padding: 7px;
    margin-bottom: 25px;
    transition-duration: 0.25s;
}

#edit form input[type="submit"]:hover {
    cursor: pointer;
    width: 40%;
}