#game-card {
    display: inline-block;
    width: 10%;
    height: 36%;
    padding: 1px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 7px 0px 20px 7px rgba(0, 0, 0, 0.7);
    /* margin: 20px; */

}

#game-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 220px;
}

#game-card div {
    text-align: center;
}

#game-card div p,
#game-card div a {
    color: black;
}

#game-card div p {
    margin-bottom: 3px;
}

#game-card div a {
    text-decoration: none;
}

#game-card div a:hover {
    text-decoration: underline;
}