header>h1 {
    float: left;
    margin: 10px
}

header>nav {
    float: right;
    margin-top: 23px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#guest-nav,
#user-nav {
    display: inline-block;
}

header>nav>ul li {
    display: inline-block;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: black
}