#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#header a img {
    border-radius: 10px;
    transition-duration: 0.25s;
}

#header a img:hover {
    margin-left: 8px;
    transform: scale(1.1); 
}

#header nav {
    width: 30%;
}

#header nav ul {
    display: flex;
    justify-content: space-evenly;
}

#header nav ul li {
    list-style: none;
}

#header nav ul li a {
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
    font-size: 20px;
    transition-duration: 0.25s;
}

#header ul li a:hover {
    color: white;
    padding-bottom: 4px;
    border-bottom: 2px solid white;
}

/* On nav item click */
.active {
    color: white;
}