.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px;
}

.nav-ul {
    display: flex;
}

.nav-li {
    list-style: none;
    margin-left: 15px;
}

.nav-a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.underline:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid;
}