#dialog {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 50px;
    border-radius: 10px;
}

#dialog p,
#dialog button {
    color: white;
    letter-spacing: 1.5px;
}

#dialog p {
    font-size: 20px;
    margin-bottom: 15px;
}

#dialog button {
    background: none;
    outline: none;
    padding: 5px 7px;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px;
}

#dialog button:hover {
    cursor: pointer;
}