#register form {
    margin: 80px auto;
    width: 20%;
    height: 418px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 7px 0px 20px 7px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
}

#register form h1,
#register form input[type="text"],
#register form input[type="password"],
#register form input[type="submit"],
#register form p {
    color: white;
}

#register form h1,
#register form input[type="text"],
#register form input[type="password"],
#register form input[type="submit"] {
    letter-spacing: 1.5px;
}

#register form h1 {
    display: inline-block;
    margin: 30px 0px;
    text-transform: uppercase;
}

#register form input[type="text"],
#register form input[type="password"],
#register form input[type="submit"] {
    display: block;
    margin: auto;
    background: none;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 14px;
}

#register form input[type="text"],
#register form input[type="password"] {
    text-align: center;
    width: 75%;
    padding: 10px;
}

#register form input[type="text"]:hover,
#register form input[type="password"]:hover {
    width: 78%;
    transition: 0.25s;
}

#register form input[type="text"] {
    margin-bottom: 15px;
}

#register form input[type="password"] {
    margin-bottom: 15px;
}

#register form input[name="repeat-password"] {
    margin-bottom: 30px;
}

#register form input[type="submit"] {
    width: 37%;
    padding: 7px;
    margin-bottom: 25px;
}

#register form input[type="submit"]:hover {
    cursor: pointer;
    width: 40%;
    transition: 0.25s;
}

#register form p {
    letter-spacing: 0.5px;
}

#register form p a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 10px;
}

/* #register form a:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid white;
} */